h1 {
  margin-top: 50px;
  margin-bottom: 200px;
  text-align: center;
}

.btn-container {
  margin: 50px;  
}

.btn-play {
  transform: scale(3.0);
}

.btn-pause {
  transform: scale(3.0);
}

.btn-other-controls {
  transform: scale(1.9);
}
